<div id="footer">
    <div class="container">
        <section>
            <header>
                <h2>Pellentesque vulputaterisus semper</h2>
                <span class="byline">In posuere eleifend semper augue maecenas ligula congue rutrum</span>
            </header>
            <div class="row">
                <section class="4u">

                    <a href="#" class="image full"><img src="~/wwwroot/images/pics03.jpg" alt=""></a>
                </section>
                <section class="4u">
                    <a href="#" class="image full"><img src="~/wwwroot/images/pics04.jpg" alt=""></a>
                </section>
                <section class="4u">
                    <a href="#" class="image full"><img src="~/wwwroot/images/pics05.jpg" alt=""></a>
                </section>
            </div>
            <a href="#" class="button">Nulla luctus eleifend</a>
        </section>
    </div>
</div>
