<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-view-dashboard mr-2"></i>
                <span class="menu-title">Bảng Điều Khiển</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("QuanLySanPham", "SanPham")">
                <i class="mdi mdi-cube mr-2"></i>
                <span class="menu-title">Quản Lý Sản Phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="quan_ly_danh_muc.html">
                <i class="mdi mdi-file-document-box  mr-2"></i>
                <span class="menu-title">Quản Lý Danh Mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="quan_ly_hoa_don.html">
                <i class="mdi mdi-file-document  mr-2"></i>
                <span class="menu-title">Quản Lý Đơn Hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="quan_ly_tai_khoan.html">
                <i class="mdi mdi-account  mr-2"></i>
                <span class="menu-title">Quản Lý Tài Khoản</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="quan_ly_phan_quyen.html">
                <i class="mdi mdi-ruler mr-2"></i>
                <span class="menu-title">Quản Lý Phân Quyền</span>
            </a>
        </li>
    </ul>
</nav>